@charset "UTF-8";


.太极 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-3.png") no-repeat center center;
    animation:rotate 0.15s infinite linear;
}

.八卦 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-4.png") no-repeat center center;
}

.河图 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-5.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}

.定位 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-6.png") no-repeat center center;
    animation:rotat 90s infinite linear;
}

.干支 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-7.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}


.内卦 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-9.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}

.卦象 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-10.png") no-repeat center center;
}

.卦名 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-11.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}

.九星 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-12.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}

.天罡 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-13.png") no-repeat center center;
    animation:rotat 90s infinite linear;
}


.节气 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-16.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}

.局面 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-17.png") no-repeat center center;
    animation:rotat 90s infinite linear;
}

.月宿 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-18.png") no-repeat center center;
    animation:rotate 90s infinite linear;
}

.scale {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/c-a-19.png") no-repeat center center;
    /* animation:rotat 20s infinite linear; */
}

@keyframes rotate {
    100% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotat {
    100% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
